@charset "UTF-8";



ul li {
    list-style-type: none;
}


.flottant-droit{
    float: right;
}

.reveal section img {
    border: 0;
}

/* Page 3 */
.paralel-block > div,
.paralel-block > img{
    float:left;
}
.paralel-block .block-left {
    width:58%; 
    text-align:right; 
}
.paralel-block .block-right {
    width:20%; 
    margin-left:50px;
}